@model List<BookViewModel>

@{
    ViewData["Title"] = "Book List";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <a class="btn btn-custom" asp-controller="Book" asp-action="NewBook">Kitap Ekle</a>
    <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre</td>
                <td>@book.AuthorName</td> <!-- AuthorId yerine AuthorName -->
                <td>@book.PublishDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("DetailsBook", "Book", new { id = book.BookId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("EditBook", "Book", new { id = book.BookId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteBook", "Book", new { id = book.BookId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>
